name: Build and Test CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu:noble
    container: chciken/floppyfloat:latest
    steps:
    - uses: actions/checkout@v2
      with:
        lfs: 'true'
        submodules: 'recursive'
    - name: configure
      run: |
           mkdir build
           cd build
           cmake ..
    - name: build floppyfloat
      working-directory: ./build
      run: |
           cmake --build . -j$(nproc)
    - name: run tests
      working-directory: ./build/tests
      run: |
            ./test_softfloat_floppyfloat_arm_default_nan
            ./test_softfloat_floppyfloat_riscv
            ./test_softfloat_floppyfloat_x86
            ./test_softfloat_softfloat_arm_default_nan
            ./test_softfloat_softfloat_riscv
            ./test_softfloat_softfloat_x86
            ./test_utils
    - name: coverage report
      run: |
           export CODACY_PROJECT_TOKEN=${{secrets.CODACY_TOKEN}}
           mkdir -p coverage
           gcovr -r . --gcov-ignore-parse-errors --html --html-details --exclude tests/ -o coverage/coverage.html
           gcovr -r . --gcov-ignore-parse-errors --xml --print-summary --exclude tests/ -o coverage/coverage.xml
           bash <(curl -Ls https://coverage.codacy.com/get.sh) report -r coverage/coverage.xml
